{% extends 'base.html.twig' %}

{% block title %}Товари{% endblock %}

{% block body %}
    <div class="container">
        <div class="d-flex justify-content-between align-items-center">
            <h1 class="h1">Товари</h1>
            <a href="{{ path('report_index') }}">Інформація</a>
        </div>
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th scope="col">
                    <a href="{{ path('product_index', { sort: 'id', order: app.request.query.get('order') == 'ASC' ? 'DESC' : 'ASC' }) }}">ID</a>
                </th>
                <th scope="col">
                    <a href="{{ path('product_index', { sort: 'code', order: app.request.query.get('order') == 'ASC' ? 'DESC' : 'ASC' }) }}">Code</a>
                </th>
                <th scope="col">
                    <a href="{{ path('product_index', { sort: 'name', order: app.request.query.get('order') == 'ASC' ? 'DESC' : 'ASC' }) }}">Title</a>
                </th>
                <th scope="col">
                    <a href="{{ path('product_index', { sort: 'type', order: app.request.query.get('order') == 'ASC' ? 'DESC' : 'ASC' }) }}">Type</a>
                </th>
                <th scope="col">
                    <a href="{{ path('product_index', { sort: 'price', order: app.request.query.get('order') == 'ASC' ? 'DESC' : 'ASC' }) }}">Price</a>
                </th>
            </tr>
            </thead>
            <tbody>
            {% for product in pagination.items %}
                <tr>
                    <th  scope="row">{{ product.id }}</th>
                    <td>{{ product.code }}</td>
                    <td>{{ product.name }}</td>
                    <td>{{ product.type }}</td>
                    <td>{{ product.price }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="d-flex justify-content-center align-items-center">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
{% endblock %}