{% extends 'base.html.twig' %}

{% block title %}Звіт{% endblock %}

{% block body %}
    <div class="container">
        <div class="d-flex justify-content-between align-items-center">
            <h1 class="h1">Звіт</h1>
            <a href="{{ path('product_index') }}">Товари</a>
        </div>        {% for id, data in report %}
            <h4>Code {{ id }} - {{ data.total_count }} шт (всього), -{{ data.total_price }} грн (всього)</h4>
            <ul class="list-group list-group-flush">
                {% for type, info in data.types %}
                    <li class="list-group-item">{{ type }} - {{ info.count }} шт, -{{ info.price }} грн</li>
                {% endfor %}
            </ul>
        {% endfor %}
    </div>
{% endblock %}